# Dependencies
node_modules/

# Builds
dist/
build/
.next/
out/
*.tsbuildinfo

# Environment
.env
.env.local
.env.*.local

# Prisma
apps/api/prisma/*.db

# Logs
logs/
*.log
npm-debug.log*

# Vercel CLI
.vercel

# OS / IDE
.DS_Store
Thumbs.db
.idea/

# Misc
coverage/
.cache/
